<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h3>Khoa Pham Online 1234567899</h3>
        <% let a = 100; %>
        <h3><%= a %></h3>
        <h3><%= name %></h3>
        <% if(isAdmin) { %>
            <a href="#">Bang dieu khien</a>
        <% } else {%>
            <a href="#">Ban phai la admin de dung tinh nang nay!</a>
        <% } %>
        <% arrPerson.forEach(person => { 
            const { name, age } = person;
            const color = age > 12 ? 'green' : 'red';
        %>
            <div>
                <h3 style="color: <%= color %>">
                    Name: <%= name %>
                </h3>
                <p>Age: <%= age %></p>
            </div>
        <% }); %>
    </body>
</html>
<script src="reload/reload.js"></script>